*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


:root {
  --hero-bg-color: #1F2937;
  --hero-font-color: #F9FAF8;
  --hero-link-font-color: #E5E7EB;
  --margin: 0 50px;
  --font-black: #1F2937;
}


.container {
  background: var(--hero-bg-color);
  height: 500px;
}



body {
  color: var(--hero-font-color);
  background: orange;
  /*temporary for visibility*/
}


header {
  background: var(--hero-bg-color);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
}


nav {
  display: flex;
  gap: 50px;
}


a {
  color: var(--hero-link-font-color);
}


button {
  background: #3882F6;
  color: var(--hero-font-color);
}


/* Hero Section 2 */


.hero2 {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 200px;
}

.hero2text {
  display: flex;
  flex-direction: column;
}

.hero2button {
  width: 10cap;
}


.container2 {
  background: white;
  height: 500px;
}

.container2 h2 {
  font-size: 36px;
  color: var(--font-black);
  font-weight: 900;
}

.boxes {
  display: flex;
  justify-content: center;
}

.boxes p {
  color: var(--font-black)
}

.box1,
.box2,
.box3 div {
  border: black solid 3px;
  height: 100px;
  width: 100px;

}


.box1 {
  display: flex;
  flex-direction: column;
}
