*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hero-bg-color: #1F2937;
  --hero-font-color: #F9FAF8;
  --hero-link-font-color: #E5E7EB;
  --margin: 0 50px;
  --font-black: #1F2937;
}

.container {
  background-color: var(--hero-bg-color);
  height: 500px;
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

nav {
  display: flex;
  gap: 50px;
}

a {
  color: var(--hero-link-font-color);
  text-decoration: none;
  font-size: 18px;
}

h1 {
  color: var(--hero-font-color);
}

.section1 {
  display: flex;
  justify-content: center;
  gap: 180px;
}

.section1 p {
  height: 50px;
  width: 550px;
  color: var(--hero-font-color);
}

.section1 button {
  background-color: #3882F6;
  border-radius: 4px;
  width: 60px;
  height: 2cap;
  border-style: none;
  color: var(--hero-font-color);
}

/* section 2 */

.container2 {
  background-color: none;
  height: 500px;
}

h2 {
  text-align: center;
  margin: 50px 0;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.box div {
  border: solid #3882F6;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.box p {
  font-size: 14px;
  text-align: center;
  width: 100px;
  height: auto;
}

.container3 {
  background-color: #E5E7EB;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p1 {
  font-size: 36px;
  margin: 0 400px;
  margin-bottom: 30px;
}

.p2 {
  font-weight: bold;
  text-align: left;
}

.container4 {
  background-color: #3882F6;
  margin: 50px;
  padding: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 400px;
}

.container4 button {
  border-radius: 4px;
  border: solid white;
  height: 3cap;
  width: 7cap;
}

h3 {
  font-size: 18px;
  color: var(--hero-font-color);
}

.container4 p {
  color: var(--hero-font-color);
}

.container5 {
  background-color: var(--hero-bg-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container5 p {
  color: var(--hero-font-color);
}
