*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #f9faf8;
  background: orange;
}

a {
  color: #f9faf8;
  padding: 0 15px;
}

.section1 {
  background: #1f2937;
  display: flex;
  justify-content: space-around;
}

.childsection1 {
  flex-wrap: wrap;
  flex-direction: row;
}

h1 {
  display: block;
  flex: 1 1 auto;
  font: 48px #f9faf8 600;
  order: 1;
}

img {
  order: 2;
}
